#!/bin/bash

################################################################################
### Configure System-Wide Aliases
################################################################################

# Tellus
alias tellus="\
    open /Users/rogerluan/Documents/Projects/tellus-core-ios/tellus-core.xcworkspace
    open /Users/rogerluan/Documents/Projects/tellus-ios/zilly.xcworkspace"

# See https://hub.github.com/hub-sync.1.html
function tellus-sync() {
  for dir in $HOME/Documents/Projects/tellus*; do
    echo "hub sync on $dir"
    ( cd $dir && hub sync )
  done

  for dir in $HOME/Documents/Projects/zilly*; do
    echo "hub sync on $dir"
    ( cd $dir && hub sync )
  done
}

alias plistbuddy="/usr/libexec/PlistBuddy"

function s() {
  PARAM=$1
	if [[ $PARAM = "all" || $PARAM = "a" ]]; then
		tellus-sync
	else
    echo "hub sync on $PARAM"
    ( cd ~/Documents/Projects/$PARAM && hub sync )
	fi
}
