#!/bin/bash

# Prevent oh-my-zsh from overriding the ~/.zshrc file.
export KEEP_ZSHRC='yes'

# Preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='nano'
else
  export EDITOR='nano'
fi

# Prefer US English and use UTF-8.
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

export DOTFILES_DIR="$HOME/.dotfiles"

export MAGICK_HOME=/usr/local/Cellar/imagemagick@6/6.9.11-28/

export THEOS=~/theos

if [[ $(arch) == 'arm64' ]]; then
  export APPLE_SILICON=true
fi

export NVM_DIR="$HOME/.nvm"

export JAVA_HOME=/Applications/Android\ Studio.app/Contents/jre/Contents/Home

# pyenv root directory. Consumed by pyenv only.
export PYENV_ROOT="$HOME/.pyenv"
